
/* Header Container */
.header-container {
    background-color: #fff;
    height:50px;
    padding-top: 10px;
  
  }
  
  /* Inner Wrapper */
  .header-inner {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  
  /* Navigation */
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  /* Links */
  .header-nav a {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .header-nav a:hover {
  background-color: #01c7e9;
  color:#fff;
  }
  
  
  
  /* Dropdown */
  .header-dropdown {
    position: relative;
    margin: 0 10px;
  }
  
  .header-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .header-dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
  }
  
  .header-dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .header-dropdown:hover .header-dropdown-menu {
    display: block;
  }
  
  /* Divider */
  .header-divider {
    height: 1px;
    background-color: #e0e0e0;
    margin: 8px 0;
  }
  .custom-container{
    background-color: #0235c3;
  }