/* Sidebar.css */
.sidebar {
  width: 250px; /* Adjust sidebar width as needed */
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: width 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
}

.open {
  width: 250px;
}

.closed {
  width: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.toolbar-item {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #555;
}

.toolbar-item:hover {
  background-color: #555;
}
